@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* font-family: 'Outfit', sans-serif; */

:root{
    --blanco: hsl(0, 0%, 100%);
    --gris: hsl(212, 45%, 89%);
    --azul: hsl(220, 15%, 55%);
    --azuloscuro: hsl(218, 44%, 22%);
}


                                /* QR CODE  */

body{
    background-color: var(--gris);
}

.general{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 80px;
}

.inicio{
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25%;
    border-radius: 5%;
}

.cuadro{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.imagen{
    width: 100%;
    border-radius: 5%;
}

.textos{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 6px;
}

.textos h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.textos p{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
}


.attribution { 
    font-size: 15px;
    text-align: center
}

.attribution a {
    color: hsl(228, 45%, 44%)
}
